ion-content {
    .container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;  

        
      background-image: url(https://i.pinimg.com/originals/b4/ba/ec/b4baec9a4ed14d3a3cc65fec49e106e7.jpg);
      background-color: #cccccc;
      /* height: 500px; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      ion-label{
          width: 350px;
      }
    }
    }
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
    }
.forgotpass{
    margin-top: 8px;
    display: inline-block;
    p{
        margin-top: 3px;
        margin-bottom: 6px;
        cursor: pointer;
        color: #5195FF;
    }
}
.logo-circle{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}